header {
    background-color: rgb(6, 126, 206);
    color: #fff;
    height: 100px;
}
.logo {
    height: 80px;
}
a{
    width:100px;
}
.headerImg {
    height: 35px;
    padding: 3px;
}
.titulo{
    font-size: 20px;
}
.busquedaInput{
    height: 30px;
}

.busqueda {
    width: 60%;
}

.botonesHeader {
    background-color: transparent;
    border: none;
    background-color: rgb(94, 199, 248);
    border-radius: 50%;
}

.botonesHeader:hover{
    background-color: rgb(175, 230, 255);
}

.user {
    height: 35px;
}
.userContainer{
    display: flex;
    width: 35px;
    margin-right: 10px;
}

.contenedorUsuario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 5px 0 5px;
    font-size: 11px;
}
.usuario{
    color:yellowgreen;
    font-weight: bolder;
    text-decoration: none;
    margin-bottom: 0;
    
}

.botonLogout {
    color: yellow;
    margin-bottom: 0;
    margin-right: 5px;
    font-weight: bolder;
    
}

.botonLogin {
    background-color:transparent;
    color: rgb(166, 230, 39);
}
.registro{
    color:yellowgreen;
    
}
@media (min-width: 1250px) {
    .logo{
        height: 120px;
    }
   
    header{
        height: 150px;
    }
    .user{
        height: 50px;
    }
}
@media (min-width: 461px) and (max-width: 699px){
    .titulo{
        font-size: 30px;
    }
    .contenedorUsuario{
        font-size: 15px;
    }
}
@media (min-width: 700px){
    .titulo{
        font-size: 40px;
    }
    .contenedorUsuario{
        font-size: 20px;
    }
}