header {
    background-color: rgb(6, 126, 206);
    color: #fff;
    height: 100px;
}
.logo {
    height: 80px;
}
a{
    width:100px;
}
.headerImg {
    height: 35px;
    padding: 3px;
}
.titulo{
    font-size: 20px;
}
.busquedaInput{
    height: 30px;
}
.botonesHeader {
    background-color: transparent;
    border: none;
    background-color: rgb(94, 199, 248);
    border-radius: 50%;
}

.botonesHeader:hover{
    background-color: rgb(175, 230, 255);
}

@media (min-width: 1250px) {
    .logo{
        height: 120px;
    }
    .busqueda{
        width: 25%
    }
}
@media (min-width: 461px) and (max-width: 699px){
    .titulo{
        font-size: 30px;
    }
    .busqueda{
        width: 50%;
    }
}
@media (min-width: 700px){
    .titulo{
        font-size: 40px;
    }
}