.navBar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    background-color: rgb(6, 126, 206);
    color: white;
    padding: 0 5px 0 5px;
    font-size: 10px;
}

.navButton {
    cursor: pointer;
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-align: center;
}

.navBar a.active{
    background-color: rgb(0, 172, 57);
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
}
.imgCart{
    height: 45px;
    width: 45px;
    background-color: white;
    border-radius: 5%;
}

#cart{
    background-color: transparent;
    padding: 0;
    text-decoration: none;
    color: white;
    
}

#cart a.active{
    background-color: greenyellow;
}
@media (min-width:500px) and (max-width:869px){
    .navButton{
        font-size: 15px;
    }
}

@media (min-width:870px ){
    .navButton{
        font-size: 20px;
    }
    .navBar{
        font-size: 20px;
    }
    .navBar a.active{
        padding:15px;
        padding-bottom: 3px;
    }
}