
nav {
    a{
        text-decoration: none;
        color: #fff;
    }
    li{
        list-style: none;
        
    }
    .btn-boton {
        background-color: rgb(18, 87, 177);
        color: #fff;
        border-radius: 0;
        padding: 2px 25px;
    }
    .btn-boton:hover{
        background-color: rgb(9, 48, 99);
    }
}