
nav {
    a{
        text-decoration: none;
        color: #fff;
    }
    li{
        list-style: none;
        
    }
    ul{
        margin-bottom: 0;
    }
    .btn-boton {
        background-color: rgb(18, 87, 177);
        color: #fff;
        border-radius: 0;
       
    }
    .btn-boton:hover{
        background-color: rgb(9, 48, 99);
        color:white;
    }
    background-color: rgb(18, 87, 177);

}